<div class="container">

  <div class="row col-md-6">
    <h1>The Wiki Game
      <button class="btn btn-primary" ng-click="vm.getNewQuestion()"
              ng-disabled="vm.gameInProgress">Begin!</button>
      <button ng-if="vm.gameInProgress" class="btn btn-primary"
              ng-click="vm.reset()">Quit Game</button>
    </h1>
  </div>

  <game-question ng-if="!vm.isServerError" vm="vm"></game-question>
  <h2 ng-if="vm.isServerError">Server Error: {{ ::vm.serverErrorMessage }}</h2>

</div>
