.subheading {
  background-color: pink;
}

.challenge-container {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.choice {
  color: #333;
  font-weight: 400;
  margin-left: 16px;
}

.submit-verdict {
  margin-top: 8px;
}

.submit-answer-btn {
  margin-bottom: 8px;
}

.verdict {
  font-size: 1.4em;
  margin-left: 20px;
}

.verdict-correct {
  display: inline-block;
  color: green;
}

.verdict-incorrect {
  display: inline-block;
  color: red;
}
