<div class="row">

  <div class="col-md-8">

    <div class="question" ng-if="$ctrl.vm.activeQuestion">
      <div class="row col-md-10 wiki-image">
        <img src="{{ $ctrl.vm.question.imageUrl }}"/>
      </div>

      <div class="row col-md-10 challenge-container">
        {{ ::$ctrl.vm.question.challenge }}
      </div>

      <form class="form-horizontal" name="questionForm">

        <div class="row col-md-10 choices">
          <div ng-repeat="choice in $ctrl.vm.question.choices">
            <label class="choice">
              <input name="choice"
                     ng-disabled="$ctrl.vm.currentGameDisabled"
                     ng-model="$ctrl.vm.userChoice"
                     ng-change="$ctrl.vm.newChoiceSelected()"
                     type="radio"
                     value="{{ $index + 1 }}">
              {{ $ctrl.indexToABCD($index) }}.&nbsp;{{ ::choice }}
              </input>
            </label>
          </div>
        </div>

        <div class="row col-md-10 submit-verdict">
          <button type="button"
                  ng-disabled="questionForm.$pristine ||
                               $ctrl.vm.currentGameDisabled ||
                               $ctrl.vm.isAnswerSubmitted"
                  ng-click="$ctrl.vm.submitUserChoice()"
                  class="btn btn-primary submit-answer-btn">Submit Answer</button>

          <span ng-if="$ctrl.vm.responseReturned" class="verdict">
            <span class="verdict-correct" ng-if="$ctrl.vm.verdict">Correct!</span>
            <div class="verdict-incorrect" ng-if="!$ctrl.vm.verdict">Wrong</div>

            <div class="try-again" ng-if="!$ctrl.vm.verdict && !$ctrl.vm.currentGameDisabled">
              You can make a second guess. Try again!
            </div>

            <button type="button"
                    style="margin-left: 12px;"
                    class="btn btn-primary btn-sm"
                    ng-click="$ctrl.vm.getNewQuestion()"
                    ng-if="$ctrl.vm.isNextQuestionPrompt">Next Question</button>

            <span class="game-score" ng-if="$ctrl.vm.isGameComplete">
              Score:
              {{ $ctrl.vm.displayScore.numOfTotal }}
              {{ $ctrl.vm.displayScore.percentage }}
            </span>

            <button type="button"
                    style="margin-left: 12px;"
                    class="btn btn-primary btn-sm"
                    ng-click="$ctrl.vm.startNewGame()"
                    ng-if="$ctrl.vm.isGameComplete">Play Again!</button>
          </span>
        <div>

      </form>

    </div>

</div>
